* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'Rowdies', cursive;
  box-sizing: border-box;

}
/* .grid { */
  /* display: grid; */
  /* grid-gap: 500px; */
  /* grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  grid-template-columns: none;
} */
header {

  background-size: cover;
  max-width: 200vw;
  max-width:max-content;
  border: 2px;
  margin: 2px;
}
h2 {
  margin: 2px;
  border: 2px;
  padding: px;
}

ul {
  display: flex;
  max-width: 200vw;
  justify-content: space-around;
  align-items: center;
  background: #4b7eeb;
  border: #070600;

}
a:hover{
  background:rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}
.hashBox {
  border-color: rgb(8, 8, 8);
  border-style: solid;
  display: flex;

}


#headerMain {
  display: flex;
  justify-content: center;
  }

.homePageNav {

    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* max-width: 50vw;
    height: 10vh; */

  }
  .jumbotron {
    background-image: url('Anime3.jpg');
    background-size: cover;
    height: 25vh;
    width: 100vw;
    display: flex;

  }



/* main {
  flex-wrap: wrap;
  background-color: #b9c3c5;
  flex-direction: column;
  align-items: flex-start;

} */

#pic1 {


  height: 350px;
  justify-content: space-between;
  float: left;
  width: 55vw;
  padding: 5px;
}
 #pic2 {
  height: 350px;
  justify-content: space-between;
  float: right;
  width: 45vw;
  padding: 5px;
}
/* #animeFacts {
  display: flex;
  flex-direction: column;
} */
.mainP {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 15px;
  width: 100vw;
  padding: 5px;

}

/*form*/
#fs-frm {
  max-height:  500vh;
  display: flex;
  border-color: #070600;
  margin: 2px;
  padding: 30em;
  align-items: center;
  flex-direction: column;
  background-color: #e6e3d7;
}
#animeFacts {
  /* justify-content: flex-start; */
}
/* .mainHome {
  display: flex;
  width: 50vw;
} */





#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#contactFoot #footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;            /* Footer height */

}

#footer {
  justify-content: flex-start;
  display: flex;
  /* position: absolute; */
  bottom: 5vh;
  width: 100%;
  height: 1rem;
  flex-direction: column;
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}
