* {
  padding: 0px;
  margin: 0px;
  font-family: "Rowdies", cursive;
  /* box-sizing: border-box; */
  background-color: rgb(199, 221, 216);
}

/* header {

  background-size: cover;
  max-width: 100vw;
  max-width:max-content;
  border: 2px;
  margin: 2px;
} */
/* h2 {
  margin: 2px;
  border: 2px;
} */

/* ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: #4b7eeb;
  border: #070600;
  list-style: none;
  flex-direction: row;

} */
a:hover {
  background: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}
/*
#headerMain {
  display: flex;
  justify-content: center;
} */


.jumbotron {
  background-image: url("Anime3.jpg");
  background-size: cover;
  height: 25vh;
  width: 100%;
  display: flex;
}

.mainContent {
  border-color: rgb(8, 8, 8);
  border-style: solid;
  display: flex;
  flex-direction: row;
  border-width: 0px;
  height: auto;
  justify-content: center;
  width: 100%;
}
#demonSlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-left: 50px; */
}
#blackBull {
  display: flex;
  align-items: center;
  justify-content: center;
}

#demonSlayer > img {
  justify-content: space-between;
  float: left;
  width: 50vw;
  height: 50vh;
  border: solid;
  border-width: 5px;
}

#Yami > img {
  justify-content: space-between;
  float: left;
  width: 50vw;
  height: 50vh;
}
/*
#blackBull > img {
  justify-content: space-between;
  display: flex;
  float: left;
  width: 50vw;
  height: 10%;

} */

.mainP {
  display: flex;
  font-size: 15px;
  border: solid;
  border-width: 5px;
  width: 50vw;
  /* height: auto; */
  justify-content: center;
}

/*form*/
#fs-frm {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  border: solid;
  border-color: #070600;
  margin: 2px;
  align-items: center;
  flex-direction: column;
  background-color: #b99918;
}
/* #animeFacts {
  border-color: rgb(8, 8, 8);
  border-style: solid;
  display: flex;
  border-width: 10px;
  width: auto;
  height: auto;
  justify-content: center;
} */
/* #facts2 {
  border-color: red;
  border-style: solid;
  border-width: 10px;
  justify-content: left;
  padding-left: 100px;
  align-items: flex-start; */

.footer1 {
  width: auto;
  height: auto;
  height: 5vh;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.questions1 {
  display: flex;
  height: 10vh;
  justify-content: center;
  /* padding-left: 10px; */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/* #content-wrap {
  padding-bottom: 2.5rem;
} */

#contactFoot #footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem; /* Footer height */
}
#formID {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-color: #070600;
  border-width: 5px;
}
#mainID {
  display: flex;
  flex-direction: column;
  border: #070600;
  width: 1vw;
}

#footer {
  justify-content: flex-start;
  display: flex;
  /* position: absolute; */
  bottom: 5vh;
  width: 100%;
  height: 1rem;
  flex-direction: column;
}
 /* desktop */
@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    background-color: rgb(52, 52, 102);
    width: 100%;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  /* .hidden--mobile {
    display: block;
  } */
  nav > .fa-bars {
    display: none;
  }
}
/* mobile */
@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
}

#nameField {
  padding: 20px;
}
#emailField {
  padding: 20px;
}

#messageField {
  padding: 20px;
}
#fs-frm-inputs {
  border: solid;
}

#blackBull > iframe {
  width: 45vw;
  height: 50vh;
  border: solid;
  border-width: 5px;
}

/* #navBar {
  display: flex;
  width: 100vw;
} */

#questions2 {
  border: solid;
  display: flex;
  font-size: 15px;
  border: solid;
  border-width: 5px;
  width: 50vw;
  justify-content: center;
}
.pageRight {
  padding: 1px;
  margin: 1px;
}
.pageLeft {
  padding: 1px;
  margin: 1px;

}
#brotherFact {
  margin-top: 2em;
}

#heroFact {
  margin-top: 2em;
}

#titanFact {
  margin-top: 2em;
}
#factPage {}
#factPage > .factStyle {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#factPage > #demonFact {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
